
fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
anthropic          # Claude API
pypdf2             # PDF o'qish
python-docx        # .doc/.docx o'qish
sentence-transformers  # embedding (bepul, local)
python-dotenv       # .env fayllarini o'qish
pgvector         # PostgreSQL uchun vektor ma'lumotlar bazasi kengaytmasi
google-generativeai
bcrypt
alembic
numpy
